<div class="container" ng-show="loggedIn()">
	<br><br><br><br>
	<div class="text-right"><i class="fa fa-edit" ng-click="edit(job.id)">EDIT</i></div>
	<h1 class="text-center">{{job.attributes.title}}</h1>
	<h1 class="text-center">{{job.attributes.city}}</h1>
	<h2><b>Description:</b></h2>
	<div class="lead" ng-bind-html="job.attributes.description"></div>
	<hr>
	<h2>Who's Applying?</h1>
	<p>
		<span style="text-decoration: underline;"><h3>{{applications.length}} applications for Job Id:</span>
		{{job.id}}</h3>
	</p>
	<table id="jobs-listing">
      <thead>
        <tr class="header">
          <th ng-click="whenCreated()" class="posted">Posted <span class="fa fa-sort"></span></th>
          <th class="position">Position</th>
          <th ng-click="last=!last; sort('last_name', last)" class="manager">Name <span class="fa fa-sort"></span></th>
          <th ng-click="email=!email; sort('email', email)" class="manager">Email <span class="fa fa-sort"></span></th>
          <th ng-click="votes=!votes; sort('votes', votes)" class="manager">Votes <span class="fa fa-sort"></span></th>
          <th class="actions"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="app in applications" class="view-list-item">
          <td class="posted">
            <div>
              <div class="units">{{app.createdAt | date: 'dd'}}</div>
              <div class="sub uppercase">{{app.createdAt | date: 'MMM'}}</div>
            </div>
          </td>
          <td class="dist">
            <div>
              <div class="sub uppercase">{{app.attributes.job_title | uppercase}}</div>
            </div>
          </td>
          <td class="position">
            <div>
              <div class="strong">
                {{app.attributes.first_name}} {{app.attributes.last_name}}
              </div>
            </div>
          </td>
          <td class="position">
            <div>
              <div class="strong">
                {{app.attributes.email}}
              </div>
            </div>
          </td>
          <td class="position">
            <div>
              <div class="strong">
                {{app.attributes.votes}}
              </div>
            </div>
          </td>
          <td class="actions">
            <a ng-click="view(app.id)" class="btn btn-sm uppercase btn-primary">view now</a>
          </td>
        </tr>
        </tbody>
      </table>
	<hr>
</div>
