<img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Parq/bottle_service_zps4d0e2940.jpg~original" id="bg" alt="">

<!--
===========================================================
BEGIN PAGE
===========================================================
-->
<br>
<br>
<br>
<div class="login-wrapper">
    <form role="form" ng-submit="login(login)">
        <div class="form-group has-feedback lg left-feedback no-label">
            <input type="text" class="form-control no-border input-lg rounded" placeholder="Enter username" autofocus ng-model="login.username" required>
            <span class="fa fa-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback lg left-feedback no-label">
            <input type="password" class="form-control no-border input-lg rounded" placeholder="Enter password" ng-model="login.password" required>
            <span class="fa fa-unlock-alt form-control-feedback"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary turq-color btn-lg btn-perspective btn-block">LOGIN</button>
        </div>
    </form>
</div><!-- /.login-wrapper -->
<!--
===========================================================
END PAGE
===========================================================
-->
